<meta charset="UTF-8">
<title>MGExplorer</title>
<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all" />

<link rel="stylesheet" type="text/css" href="lib/jquery-ui-1.10.3.custom.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="dashboard/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="dashboard/css/dashboard.css" media="all" />
<link rel="stylesheet" type="text/css" href="nodeEdge/css/nodeEdgeChart.css" media="all" />
<link rel="stylesheet" type="text/css" href="nodeEdge/css/nodeEdgePanel.css" media="all" />
<link rel="stylesheet" type="text/css" href="papersList/css/papersListChart.css" media="all" />
<link rel="stylesheet" type="text/css" href="papersList/css/papersListPanel.css" media="all" />
<link rel="stylesheet" type="text/css" href="clusterVis/css/clusterVisChart.css" media="all" />
<link rel="stylesheet" type="text/css" href="clusterVis/css/clusterVisPanel.css" media="all" />
<link rel="stylesheet" type="text/css" href="iris/css/irisChart.css" media="all" />
<link rel="stylesheet" type="text/css" href="iris/css/irisPanel.css" media="all" />
<link rel="stylesheet" type="text/css" href="matrixGlyph/css/matrixGlyphChart.css" media="all" />
<link rel="stylesheet" type="text/css" href="matrixGlyph/css/matrixGlyphPanel.css" media="all" />
<link rel="stylesheet" type="text/css" href="historyTree/css/historyTreeChart.css" media="all" />
<link rel="stylesheet" type="text/css" href="MGExplorer/css/MGExplorer.css" media="all" />
<link rel="stylesheet" type="text/css" href="query.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<script type="text/javascript" src="lib/jLouvain.js"></script>
<script data-main="MGExplorer/js/MGExplorer.js" src="lib/require.js"></script>
<script src="MGExplorer/js/require-MGExplorer-Config.js"></script>
<script src="MGExplorer/js/MGExplorer.js"></script>